Repository Leafwing-Studios/Emergence, pull requests merged in 2022-12, with the labels that each got.

#104 Add "Getting started" section to README
  README.md
Labels: documentation

#102 Add draft Steam page for Emergence game concept
  .github/workflows/ci.yml
  README.md
  design/.gitignore
  design/book.toml
  design/src/SUMMARY.md
  design/src/steam-page.md
Labels: build-system, game design

#118 Add workflow for design book
  .github/workflows/design-book.yml
  README.md
Labels: build-system

#117 Add genre analysis document
  design/src/genre-analysis.md
Labels: game design

#127 Clarify that contributors must have the rights to license IP
  README.md
Labels: documentation, meta

#133 Explore idea of creative automation
  design/src/SUMMARY.md
  design/src/creative-automation.md
  design/src/genre-analysis.md
Labels: game design

#143 More notes on QoL features
  design/src/genre-analysis.md
Labels: game design

#142 Explain how Emergence fits into the factory builder genre
  design/src/SUMMARY.md
  design/src/high-level/creative-automation-case-studies.md
  design/src/high-level/creative-automation.md
  design/src/high-level/game-thesis.md
  design/src/high-level/genre-analysis.md
  design/src/high-level/index.md
Labels: game design

#150 Grab bag fixes
  emergence_game/src/main.rs
  emergence_lib/src/cursor.rs
  emergence_lib/src/graphics/mod.rs
  emergence_lib/src/graphics/organisms.rs
  emergence_lib/src/graphics/produce.rs
  emergence_lib/src/graphics/sprites.rs
  emergence_lib/src/graphics/terrain.rs
  emergence_lib/src/graphics/tilemap_marker.rs
  emergence_lib/src/lib.rs
  emergence_lib/src/signals/configs.rs
  emergence_lib/src/signals/map_overlay.rs
  emergence_lib/src/signals/mod.rs
  emergence_lib/src/simulation/generation.rs
  emergence_lib/src/simulation/map/mod.rs
  emergence_lib/src/simulation/mod.rs
  emergence_lib/src/terrain/mod.rs
  emergence_lib/tests/structure_viability.rs
  emergence_lib/tests/test_setup.rs
Labels: code quality

#153 Refine game thesis analysis
  design/src/high-level/game-thesis.md
Labels: game design

#149 Genre analysis design review
  design/src/high-level/genre-analysis.md
Labels: game design

#158 Add stubs for glossary
  design/src/SUMMARY.md
  design/src/glossary.md
Labels: documentation, game design

#160 Add rule against reflavored machinery
  design/src/high-level/game-thesis.md
Labels: game design

#164 Add initial risk assessment
  design/src/SUMMARY.md
  design/src/risk-assessment.md
Labels: game design, business

#165 List basic raw resources
  design/src/SUMMARY.md
  design/src/production-chains/index.md
  design/src/production-chains/raw-resources.md
Labels: game design

#166 Add definitions for factory builder terms
  design/src/glossary.md
Labels: documentation, dev-ex, meta

#168 Outline design of research systems
  design/src/SUMMARY.md
  design/src/glossary.md
  design/src/research/assimilation.md
  design/src/research/genetics.md
  design/src/research/hive-mind-upgrades.md
  design/src/research/index.md
Labels: game design

#171 Debug toggle functionality (issue #100)
  emergence_lib/src/hive_mind.rs
  emergence_lib/src/lib.rs
  tools/debug_tools/Cargo.toml
  tools/debug_tools/src/debug_ui.rs
  tools/debug_tools/src/lib.rs
Labels: documentation, code quality, dev-ex

#170 Add definitions to glossary
  design/src/glossary.md
Labels: documentation, game design

#177 Fix an mdlint issue in glossary
  design/src/glossary.md
Labels: documentation
